.hard-head
{
    border: 1px solid black;
    margin-left: 30%;
    margin-right: 30%;
}
.id1
{
    margin-left: 5%;
}
.name1
{
    margin-left: 25%
}
.rev1
{
    float: right;
    margin-right: 10%;
}
.map-reve
{
    margin-top: 10px;
}